In [2]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report, confusion_matrix
import re
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd

/tmp/ipykernel_28300/2600055535.py:9: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df = pd.read_csv('spam.csv')
df.shape

(5572, 2)

In [4]:
df['Category'].value_counts()

Category
ham     4825
spam     747
Name: count, dtype: int64

In [6]:
def clean_text(text):
    text = text.lower()
    text = re.sub(r'\W', ' ', text)
    text = re.sub(r'\s+', ' ', text)
    return text

df['Message'] = df['Message'].apply(clean_text)
df

     Category                                            Message
0         ham  go until jurong point crazy available only in ...
1         ham                           ok lar joking wif u oni
2        spam  free entry in 2 a wkly comp to win fa cup fina...
3         ham       u dun say so early hor u c already then say
4         ham  nah i don t think he goes to usf he lives arou...
...       ...                                                ...
5567     spam  this is the 2nd time we have tried 2 contact u...
5568      ham               will ü b going to esplanade fr home
5569      ham  pity was in mood for that so any other suggest...
5570      ham  the guy did some bitching but i acted like i d...
5571      ham                          rofl its true to its name

[5572 rows x 2 columns]

In [7]:
df['Category'] = df['Category'].map({'ham': 0, 'spam': 1})
df

      Category                                            Message
0            0  go until jurong point crazy available only in ...
1            0                           ok lar joking wif u oni
2            1  free entry in 2 a wkly comp to win fa cup fina...
3            0       u dun say so early hor u c already then say
4            0  nah i don t think he goes to usf he lives arou...
...        ...                                                ...
5567         1  this is the 2nd time we have tried 2 contact u...
5568         0               will ü b going to esplanade fr home
5569         0  pity was in mood for that so any other suggest...
5570         0  the guy did some bitching but i acted like i d...
5571         0                          rofl its true to its name

[5572 rows x 2 columns]

In [8]:
tfidf = TfidfVectorizer(stop_words='english', max_features=5000)
X = tfidf.fit_transform(df['Message'])
y = df['Category']

In [9]:
X

<5572x5000 sparse matrix of type '<class 'numpy.float64'>'
	with 40089 stored elements in Compressed Sparse Row format>

In [10]:
y

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: Category, Length: 5572, dtype: int64